body, html{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 218, 241);
}
.title-bar{
    
    width: fit-content;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    
    
}
#kal-body{
    background-color: rgb(0, 0, 0);
    width: max-content;
    padding: 20px 40px 5px 10px;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px -5px, rgba(240, 46, 170, 0.3) 10px -10px, rgba(240, 46, 170, 0.2) 15px -15px, rgba(240, 46, 170, 0.1) 20px -20px, rgba(240, 46, 170, 0.05) 25px -25px;
}
#kal-body:hover{
    box-shadow: rgba(46, 179, 240, 0.4) -5px 5px, rgba(103, 37, 226, 0.3) -10px 10px, rgba(126, 17, 250, 0.2) -15px 15px, rgba(228, 5, 146, 0.1) -20px 20px, rgba(9, 243, 48, 0.05) -25px 25px;
}
.num-row li{
    display: inline;
}

#output{
    color: white;
    text-align: right;
    background-color: rgba(198, 209, 218, 0.932);
    outline: rgb(228, 228, 204) 2px solid;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: auto;
    
}

input{
    background-color: rgb(217, 234, 248);
    border-radius: 5px;
    padding: 10px;
    border:none;
    width: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
input:hover{
    background-color: rgb(125, 192, 247);
    border-radius: 5px;
    padding: 10px;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#output:hover{
    outline: rgba(46, 179, 240, 0.4) 2px  solid;
}
#equal{
    background-color: rgb(228, 168, 168);
}
#equal:hover{
    background-color: rgb(247, 150, 150);
    
}
#clear{
    background-color: rgb(238, 238, 190);
}
#ac{
    background-color: rgb(240, 220, 182);
}
